{% extends "phone/layout.html" %}
{% block body %}
<h1>Add Contact </h1>

<form action="{% url 'add' %}" method="post">
  {% csrf_token %}
  Name <input type="text" name="name"></br>
  Phone_number <input type="number" name="phone_number"></br>
  email_id <input type="email" placeholder="abc@gmail.com" name="email_id"></br>
  address <input type="text" name="address"> <br>
  <input type="submit" value="Add Contact">

</form>
</br>
<a href="{% url 'index' %}">Contacts List</a>
{% endblock %}